<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="smartfoodcluster.feedme">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NETWORK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".auth.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.SignUp"
            android:label="@string/title_activity_sing_up"
            android:parentActivityName=".auth.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="smartfoodcluster.feedme.auth.LoginActivity" />
        </activity>
        <activity
            android:name=".user.UserHome"
            android:label="@string/title_activity_user_home"
            android:parentActivityName=".auth.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="smartfoodcluster.feedme.auth.LoginActivity" />
        </activity>
        <activity
            android:name=".restaurant.RestaurantHome"
            android:label="@string/title_activity_restaurant_home"
            android:parentActivityName=".auth.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="smartfoodcluster.feedme.auth.LoginActivity" />
        </activity>
        <activity
            android:name=".restaurant.ViewOrders"
            android:label="@string/title_activity_view_orders"
            android:parentActivityName=".restaurant.RestaurantHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="smartfoodcluster.feedme.restaurant.RestaurantHome" />
        </activity>
        <activity
            android:name=".restaurant.EditMenu"
            android:label="@string/title_activity_edit_menu"
            android:parentActivityName=".restaurant.RestaurantHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="smartfoodcluster.feedme.restaurant.RestaurantHome" />
        </activity>
        <activity
            android:name=".user.UserViewMenu"
            android:label="@string/title_activity_user_view_menu"
            android:parentActivityName=".user.UserSelection"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="smartfoodcluster.feedme.user.UserSelection" />
        </activity>
        <activity
            android:name=".user.UserReviewOrder"
            android:label="@string/title_activity_user_review_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.UserPayment"
            android:label="@string/title_activity_user_payment"
            android:parentActivityName=".user.UserReviewOrder"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="smartfoodcluster.feedme.user.UserReviewOrder" />
        </activity>
        <activity
            android:name=".user.OrderDetail"
            android:label="@string/title_activity_order_detail"
            android:parentActivityName=".restaurant.EditMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="smartfoodcluster.feedme.restaurant.EditMenu" />
        </activity>
        <activity
            android:name=".restaurateur.RestaurateurHome"
            android:label="@string/title_activity_restaurateur_home"
            android:parentActivityName=".auth.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="smartfoodcluster.feedme.auth.LoginActivity" />
        </activity>
        <activity
            android:name=".user.UserRestaurantFinder"
            android:label="@string/title_activity_user_restaurant_finder"
            android:parentActivityName=".auth.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="smartfoodcluster.feedme.auth.LoginActivity" />
        </activity>
        <activity
            android:name=".UserSelection"
            android:label="@string/title_activity_user_selection"
            android:parentActivityName=".auth.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="smartfoodcluster.feedme.auth.LoginActivity" />
        </activity>
    </application>

</manifest>
